<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org (v3)" value="https://api.nuget.org/v3/index.json" />
    <add key="Beyova NuGet" value="http://nuget.beyova.com:10001/nuget" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>

</configuration>
