@using EF.E1Technology.Developer.Portal.Controllers;
@using Beyova;
@using Beyova.ApiTracking;
@{
    ViewBag.Title = "SSO Authorization Partner";
    Layout = "~/Views/Shared/Beyova/layout/_kingDeveloperLayout.cshtml";

}

@section css{
    <style>
        #filter > input {
            display: inline-block;
            width: 200px;
        }
    </style>
}
@section js{
    <script type="text/javascript">
        function showPartner(key) {
            if (key) {
                callAction("/SSOAuthorization/GetSSOAuthorizationPartner/" + $("#environment").val() + "/" + key, {}, function (response) {

                    var obj = JSON.parse(response);
                    var form = $("#entityForm");
                    setForm(form, obj);
                    form.modal("show");

                }, undefined, function () {
                });
            } else {
                var form = $("#entityForm");
                setForm(form, {});
                form.modal("show");
            }
        }

        function createOrUpdatePartner() {
            var form = $("#entityForm");
            form.validator('validate');

            if (form.find(".has-error").length) {
                return;
            }

            var data = getForm(form);
            form.find("*").prop("disabled", true);

            var thisRef = $(this);
            thisRef.text("Saving ...");

            callAction("/SSOAuthorization/CreateOrUpdatePartner", data, function (response) {
                var json = JSON.parse(response);
                if (json) {
                    window.location.reload();
                }
            }, undefined, function () {
                form.find("*").prop("disabled", false);
            });
        }

        function queryPartner() {
            var criteria = getForm($("#filter"));

            callAction("/SSOAuthorization/QuerySSOAuthorizationPartner/" + $("#environment").val(), criteria, function (response) {
                $('#result').html(response);
            }, undefined, function () {
            });
        }

        $(document).ready(function () {
            $("select").multiselect();
            $('#entityForm').validator();

            $("#queryPartner").click(function () {
                queryPartner();
            });

            $("#createPartner").click(function () {
                showPartner();
            });

            $("#btn_dialog_Save").click(function () {
                createOrUpdatePartner();
            });

            $("#btn_dialog_renew").click(function () {
                callAction("/SSOAuthorization/RenewSSOAuthorizationPartnerToken/" + $("#environment").val(), criteria, function (response) {
                    $('#result').html(response);
                }, undefined, function () {
                });
            });
        });

    </script>

}
@section modal{
    <div id="entityForm" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">SSO Authorization Partner</h3>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="Key" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="Name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Callback URL</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="CallbackUrl" required />
                                <span class="help-block">It is used for OAuth.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Token</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="Token" readonly="readonly" required />
                                <span class="help-block">It is used for OAuth.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Token Expiration</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="TokenExpiration">
                                    <option value="1">1 Minute</option>
                                    <option value="5">5 Minutes</option>
                                    <option value="30">30 Minutes</option>
                                    <option value="60">1 Hour</option>
                                    <option value="360">6 Hours</option>
                                    <option value="720">12 Hours</option>
                                    <option value="1440">1 Day</option>
                                    <option value="4320">3 Days</option>
                                    <option value="10080">7 Days</option>
                                    <option value="43200">30 Days</option>
                                    <option value="86400">60 Days</option>
                                    <option value="129600">90 Days</option>
                                    <option value="172800">120 Days</option>
                                    <option value="518400">360 Days</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btn_dialog_renew" class="btn btn-primary" data-dismiss="modal">Renew Token</a>
                    <a id="btn_dialog_Close" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a id="btn_dialog_Save" class="btn btn-custom-primary"><i class="fa fa-fw fa-cloud-upload"></i> Save</a>
                </div>
            </div>
        </div>
    </div>

}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>SSO Authorization Partner</h2>
        <em></em>
    </div>
    <input type="hidden" id="environment" name="environment" value="@(BaseRemoteRestApiController.CurrentEnvironment.SafeToString("DEV"))" />
    <div class="main-content">
        <div class="bottom-30px" id="filter">
            <input class="form-control" name="Key" placeholder="Key ..." />
            <input class="form-control" name="Name" placeholder="Name ..." />
            <input class="form-control" name="Token" placeholder="Token ..." />

            <button id="queryPartner" class="btn btn-primary"><i class="fa fa-filter"></i> Find </button>
            <button id="createPartner" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create </button>
        </div>

        <div id="result">

        </div>
    </div>
</div>
