@using Beyova;
@model object

@{
    Layout = "~/Views/Shared/Beyova/layout/_kingDeveloperLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Json</title>
    <style>
        body {
            font-family: Calibri;
        }
    </style>
</head>
<body>
    <div>
        @Html.Partial("~/Views/Shared/Beyova/components/_json.cshtml")
    </div>
</body>
</html>
