@using EF.E1Technology.OnlineSchoolPlatform;
@using EF.E1Technology.Developer.Portal.Controllers;
@using Beyova;
@using Beyova.ApiTracking;
@{
    ViewBag.Title = "API Trace Query";
    Layout = "~/Views/Shared/Beyova/layout/_kingDeveloperLayout.cshtml";
}


@section css{
    <style>
        #filter > * {
            display: inline-block;
            min-width: 100px;
            max-width: 400px;
        }
    </style>
}
@section js{
    <script type="text/javascript">
        function queryApiTrace() {

            if (traceId) {
                $("#result").text("Loading...");
                callAction("/Elastic/EventTrace/" + $("#environment").val(), { traceId: $("#traceId").val() }, function (response) {
                    $("#result").html(response);
                }, undefined, function () {
                });
            }
        }

        $(document).ready(function () {
            $("#queryApiTrace").click(function () {
                queryApiTrace();
            });
        });

    </script>

}
@section modal{}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>API Event Trace</h2>
        <em></em>
    </div>
    <input type="hidden" id="environment" name="environment" value="@(BaseRemoteRestApiController.CurrentEnvironment.SafeToString("DEV"))" />
    <div class="main-content">
        <div class="bottom-30px" id="filter">
            <input id="traceId" placeholder="Trace ID ..." class="form-control" />
            <button id="queryApiTrace" class="btn btn-primary"><i class="fa fa-filter"></i> Find </button>
        </div>

        <div id="result">

        </div>
    </div>
</div>
