@using Beyova;
@{
    ViewBag.Title = "Admin Permission Management";
    var parameterProductKey = Beyova.Gravity.CentralManagementContext.ParameterProductKey;
}

@section css{
}
@section js{
    <script type="text/javascript">
        function reinitializeDefaultPermission() {
            callAction("/GravityAdministration/ReinitializeDefaultPermission/?productKey=@(parameterProductKey)", criteria, function (response) {
                window.reload();
            }, undefined, function () {
            });
        }

        function showEntity(key) {
            showEntityDialog(key, "/GravityAdministration/GetAdminPermission//?productKey=@(parameterProductKey)", "entityForm");
        }

        function createOrUpdatePermission() {
            createorUpdateEntity("/GravityAdministration/CreateOrUpdateAdminPermission/?productKey=@(parameterProductKey)", "entityForm", undefined, function (json) {
                if (json) {
                    window.location.reload();
                }
            });
        }

        function queryPermission() {
            var criteria = getForm($("#filter"));

            callAction("/GravityAdministration/QueryAdminPermission/?productKey=@(parameterProductKey)", criteria, function (response) {
                $('#result').html(response);
            }, undefined, function () {
            });
        }

        $(document).ready(function () {
            $("select").multiselect();
            $('#entityForm').validator();

            $("#queryPermission").click(function () {
                queryPermission();
            }).click();

            $("#createPermission").click(function () {
                showEntity();
            });

            $("#btn_dialog_Save").click(function () {
                createOrUpdatePermission();
            });

            $("#reinitialize").click(function () {
                reinitializeDefaultPermission();
            });


            $("#result").delegate("a.delete-permission", "click", function (e) {
                var permissionKey = $(this).attr("key");
                var row = $(this).closest("tr");
                showConfirmDialog("Warning", "Deletion cannot rollback. Are you sure to continue?", function () {
                    callAction("/GravityAdministration/DeleteAdminPermission/?productKey=@(parameterProductKey)&key=" + permissionKey, undefined, function (response) {
                        row.remove();
                    }, undefined, function () {
                    });
                })

            });
        });


    </script>

}
@section modal{
    <div id="entityForm" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Admin Permission</h3>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal" id="endpointForm">
                        <input type="hidden" name="Key" />
                        <input type="hidden" name="ProductKey" readonly="readonly" value="@(Beyova.Gravity.CentralManagementContext.ParameterProductKey))" />

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="Name" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Identifier</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="Identifier" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="Description" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btn_dialog_Close" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a id="btn_dialog_Save" class="btn btn-custom-primary"><i class="fa fa-fw fa-cloud-upload"></i> Save</a>
                </div>
            </div>
        </div>
    </div>

}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>Admin Permissions</h2>
        <em>@(WebCore.ProductCache.GetAll().FirstOrDefault(x => x.Key == parameterProductKey)?.Name)</em>
    </div>
    <div class="main-content">
        <div class="bottom-30px form-inline" id="filter">
            <input type="hidden" name="ProductKey" value="@(Beyova.Gravity.CentralManagementContext.ParameterProductKey)" />
            <div class="form-group">
                <button id="queryPermission" class="btn btn-primary"><i class="fa fa-refresh"></i> Refresh </button>
            </div>
            <div class="form-group">
                <button id="createPermission" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create </button>
            </div>
            @{
                if (parameterProductKey.HasValue)
                {
                    <text>
                        <div class="form-group">
                            <button id="reinitialize" class="btn btn-primary"><i class="fa fa-magic"></i> Re-Initialize default permissions </button>
                        </div>
                    </text>
                }
            }

        </div>

        <div id="result">

        </div>
    </div>
</div>
