@model string

<select id="environment">
    @*@{
        foreach (var one in (from item in EF.E1Technology.Developer.Core.ServiceConfigurationUtility.GetEndpoints()
                             where string.IsNullOrWhiteSpace(Model) || Model == item.Code
                             select item))
        {
            <text>
                <option value="@(one.Key)">@(one.Name)</option>
            </text>
        }
    }*@
</select>