div.drop-area .file-upload {
    display: none;
}

div.drop-area > div.drop {
    display: block;
    height: 120px;
    border: 2px dashed #808080;
    cursor: pointer;
}


    div.drop-area > div.drop:hover {
        border: 2px dashed #0087F7;
    }

    div.drop-area > div.drop div {
        text-align: center;
        margin: 40px;
        font-size: 12px;
        font-weight: bold;
        color: #0087F7;
        cursor: pointer;
    }

div.drop-area > div.progress {
    display: none;
}
