/* Style fixing */
i.fa {
    background-color: inherit !important;
}

a.icon-btn {
    cursor: pointer;
}

#side-menu i.fa, .main-content i.fa {
    font-size: 18px;
}

div.widget-table {
    min-height: 180px;
}

div.btn-panel > * {
    margin: 0 5px;
}

th.avatar, td.avatar, th.logo, td.logo {
    width: 30px;
}

    th.avatar img, td.avatar img, th.logo img, td.logo img, img.avatar, img.logo {
        width: 25px;
        height: 25px;
    }

div.project-item {
    display: block;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid #acacac;
}

    div.project-item:hover {
        cursor: pointer;
    }

    div.project-item > div.logo {
        float: left;
        display: inline-block;
        width: 40px;
        height: 40px;
    }

        div.project-item > div.logo img {
            width: 40px;
            height: 40px;
        }

    div.project-item > span {
        display: inline-block;
        padding: 6px 10px 0px 10px;
        font-size: 14px;
    }

    div.project-item > a {
        display: inline-block;
        margin-left: 10px;
    }

    div.project-item > h4 {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 3px 0 6px 10px;
        font-size: 14px;
    }

    div.project-item i.fa {
        font-size: 18px;
    }

    div.project-item span.project-actions span {
        margin:0 5px;
        display: none;
    }



input.has-error {
    border: 1px solid #ff2700;
}
/*permission-check-list*/
.permission-check-list {
}

    .permission-check-list label {
        display: block;
    }

    .permission-check-list .fa-check-square-o {
        font-size: 15px;
    }

.permission-icons * {
    margin: 0 2px;
}
