div.default-project-icon {
    text-align: center;
    height: 90px;
    width: 90px;
}

    div.default-project-icon i {
        font-size: 72px;
        color: #2E7BD2;
    }

.icon:hover {
    cursor: pointer;
}

td.select, th.select{
    max-width:20px;
    width:20px;
}