@using EF.E1Technology.Developer.Portal.Controllers;
@using Beyova;
@using Beyova.ApiTracking;
@using Beyova.CommonAdminService;
@{
    ViewBag.Title = "Admin Role Panel";
    Layout = "~/Views/Shared/Beyova/layout/_kingDeveloperLayout.cshtml";

    CommonAdminService service = new CommonAdminService();
    var permissions = service.QueryAdminPermission(new AdminPermissionCriteria());
}

@section css{
    <style>
        #filter > input {
            display: inline-block;
            width: 200px;
        }

        .readonly {
            font-style: italic;
            color: #a0a0a0;
        }
    </style>
}
@section js{
    <script type="text/javascript">
        function findRoleByParent(parentKey) {
            setForm($("#filter"), {
                ParentKey: parentKey
            });
        }

        function showRole(key) {
            if (key) {
                callAction("/Administration/GetRoleInfo/" + key, {}, function (response) {

                    var obj = JSON.parse(response);
                    var form = $("#entityForm");
                    setForm(form, obj);
                    form.modal("show");

                }, undefined, function () {
                });
            } else {
                var form = $("#entityForm");
                setForm(form, {});
                form.modal("show");
            }
        }

        function createOrUpdateAdminRole() {
            var form = $("#entityForm");
            form.validator('validate');

            if (form.find(".has-error").length) {
                return;
            }

            var data = getForm(form);
            form.find("*").prop("disabled", true);

            var thisRef = $(this);
            thisRef.text("Saving ...");

            callAction("/Administration/CreateOrUpdateAdminRole", data, function (response) {
                queryRole();
                form.modal("hide");
            }, undefined, function () {
                form.find("*").prop("disabled", false);
            });
        }

        function queryRole() {
            var criteria = getForm($("#filter"));
            $("#result").html("Finding ...");
            callAction("/Administration/QueryAdminRole/", criteria, function (response) {
                $('#result').html(response);
            }, undefined, function () {
            });
        }

        $(document).ready(function () {
            $("select").multiselect();
            $('#entityForm').validator();

            $("#queryRole").click(function () {
                queryRole();
            });

            $("#createRole").click(function () {
                showRole();
            });

            $("#btn_dialog_Save").click(function () {
                createOrUpdateAdminRole();
            });
        });

    </script>

}
@section modal{
    <div id="entityForm" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Admin Role</h3>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal" id="">
                        <input type="hidden" name="Key" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" placeholder="" class="form-control" name="Name" required />
                                <span class="help-block">Required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="btn_dialog_Close" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a id="btn_dialog_Save" class="btn btn-custom-primary"><i class="fa fa-fw fa-cloud-upload"></i> Save</a>
                </div>
            </div>
        </div>
    </div>

}
@Html.Partial("_TopNavigation")
<div class="content">
    <div class="main-header">
        <h2>Admin Role</h2>
        <em></em>
    </div>
    <div class="main-content">
        <div class="bottom-30px" id="filter">
            <input name="Key" class="form-control" placeholder="Key ..." />
            <input name="ParentKey" class="form-control" placeholder="Parent Key ..." />
            <input name="Name" class="form-control" placeholder="Name ..." />
            <select name="PermissionKey" class="form-control">
                <option> -- Any Permission -- </option>
                @{
                    if (permissions.HasItem())
                    {
                        foreach (var one in permissions)
                        {
                            <text>
                                <option value="@(one.Key)"> @(one.Name) </option>
                            </text>
                        }
                    }
                }
            </select>

            <button id="queryRole" class="btn btn-primary"><i class="fa fa-filter"></i> Find </button>
            <button id="createRole" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create </button>
        </div>

        <div id="result">

        </div>
    </div>
</div>
