
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Developer Portal</title>
    <style>
        body {
            background-image: url(/Content/background.jpg);
        }
    </style>
</head>
<body>
    <div>
    </div>
</body>
</html>
