/*------------------------------------------------*/
/*	Skin: Yellow
/*------------------------------------------------*/
/* general */
/* line 10, ../../../sass/skins/yellow.scss */
a {
  color: #daad2d;
}
/* line 13, ../../../sass/skins/yellow.scss */
a:hover, a:focus {
  color: #ac871e;
}

/* line 18, ../../../sass/skins/yellow.scss */
.top-bar {
  background-color: #dcad2a;
}
/* line 22, ../../../sass/skins/yellow.scss */
.top-bar .top-bar-right .btn-link {
  color: #f9f0d9;
}
/* line 25, ../../../sass/skins/yellow.scss */
.top-bar .top-bar-right .btn-link:hover {
  color: #fff;
}
/* line 32, ../../../sass/skins/yellow.scss */
.top-bar .notifications .count {
  border-color: #dcad2a;
}
/* line 38, ../../../sass/skins/yellow.scss */
.top-bar .searchbox input[type="search"] {
  background-color: #9f7c1a;
  border-color: #9f7c1a;
}
/* line 43, ../../../sass/skins/yellow.scss */
.top-bar .searchbox .btn {
  background-color: #e0b540;
  border-color: #9f7c1a;
}
/* line 47, ../../../sass/skins/yellow.scss */
.top-bar .searchbox .btn i {
  color: #9f7c1a;
}
/* line 51, ../../../sass/skins/yellow.scss */
.top-bar .searchbox .btn:hover {
  border-color: #9f7c1a;
}
/* line 54, ../../../sass/skins/yellow.scss */
.top-bar .searchbox .btn:hover i {
  color: #896b17;
}

/* widget */
/* line 64, ../../../sass/skins/yellow.scss */
.widget {
  border-color: #e7c66c;
}
/* line 67, ../../../sass/skins/yellow.scss */
.widget .widget-header {
  background-color: #dcad2a;
  border-bottom-color: #cb9e21;
  color: #fff;
}
/* line 72, ../../../sass/skins/yellow.scss */
.widget .widget-header em {
  color: #fff;
}
/* line 76, ../../../sass/skins/yellow.scss */
.widget .widget-header .btn-help {
  color: #eacf82;
}
/* line 80, ../../../sass/skins/yellow.scss */
.widget .widget-header .widget-header-toolbar {
  border-left-color: #d4a523;
}
/* line 83, ../../../sass/skins/yellow.scss */
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff;
}
/* line 88, ../../../sass/skins/yellow.scss */
.widget .widget-header .btn-group > a {
  color: #fff;
}
/* line 91, ../../../sass/skins/yellow.scss */
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #fcefca;
}

/* main content */
/* line 100, ../../../sass/skins/yellow.scss */
.main-header h2 {
  color: #be941f;
  border-right-color: #e7c66c;
}
/* line 105, ../../../sass/skins/yellow.scss */
.main-header em {
  color: #deb237;
}

/* footer */
/* line 111, ../../../sass/skins/yellow.scss */
.footer {
  background-color: #dcad2a;
}
