.card-footer > button {
    margin: 0 3px;
}

.detail-clickable {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.form-control.error {
    border-color: #ff0000;
}

.form-control.valid {
    border-color: #6edd3f;
}

table tr td.select-col, table tr th.select-col {
    max-width: 30px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 20px;
    text-align: center;
}